
<!-- Toolbar -->
<div fxLayout="column" style="height: 100%;">
	<div class="toolbar mat-elevation-z8"
   		fxLayoutAlign="center center" fxFlex="5%">
		<div>
			Game of Life
		</div>
	</div>
	<div fxLayoutAlign="center center" fxFlex="5%"></div>
	<div fxLayout="row" >
		<div fxLayoutAlign="flex-end center" fxFlex="66%">
			<mat-card>
				<mat-card-content>
					<div *ngFor="let elem of currentData; let row = index;" fxLayout="row" fxLayoutAlign="center center">
						<div *ngFor="let isAlive of currentData[row]; let column = index; " (click)="isCustomModeEnabled ? currentData[row][column] = !isAlive : null" class="cell {{isAlive ? 'aliveCell' : 'deadCell'}} {{isCustomModeEnabled ? 'pointer' : ''}}"> </div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
		<div fxLayoutAlign="center center" fxFlex="33%">
			<div fxLayout="row wrap" fxLayout.lt-sm="column">
				<button class="margin5 custom-button" type="button" (click)="start()" *ngIf="!isStarted">
					Start
				</button>
				<button class="margin5 custom-button" type="button" (click)="pause()" *ngIf="isStarted">
					Pause
				</button>
				<button class="custom-button margin5" type="button" (click)="loadDefault()" >
					Load Default Data
				</button>
				<button class="custom-button margin5" type="button" (click)="clearBoard()" >
					Clear Board
				</button>
				<button class="custom-button margin5" type="button" (click)="enableCustomMode()" *ngIf="!isCustomModeEnabled">
					Enable Custom Mode
				</button>
				<button class="custom-button margin5" type="button" (click)="disableCustomMode()" *ngIf="isCustomModeEnabled">
					Disable Custom Mode
				</button>
			</div>
			<div fxLayout="row" fxLayout.lt-sm="column" >
				<mat-card *ngIf="isCustomModeEnabled">
					<mat-card-content>
						To revive a dead cell just click on it. Click again to make it die. After, click start to test
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>



<router-outlet></router-outlet>