.toolbar {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

:host {
    width: 100%;
    height: 100%;
}

.cell{
    border: 1px solid;
    height: 15px;
    width: 15px;
    border-radius: 10px;
}

.aliveCell {
    background-color: black; 
}

.deadCell {
   background-color: white; 
}