/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer {
	cursor: pointer;
}

.margin20 {
	margin: 20px;
}

.padding20 {
	padding: 20px;
}

.margin10 {
	margin: 10px;
}

.padding10 {
	padding: 10px;
}

.margin5 {
	margin: 5px;
}

.padding5 {
	padding: 5px;
}

.custom-button {
	width: fit-content;
	color: white;
	text-decoration: none;
	background-color:#1976d2;
	padding:10px;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	border:none;
	display: inline-block;
	
}